    <% include partials/header %>

        <main class="m-20 min-screen-h flex justify-center items-center"  >
            <section class="">
                <h2 class="text-xl text-green-600 font-bold text-center mb-5">Login</h2>
                <div class="mb-5 flex justify-between">
                    <a href="/auth/google" class="px-3 py-2 bg-gray-300 hover:bg-blue-900 text-blue-600 font-bold" >Login with <i class="fab fa-google text-red-500"></i><span class="text-yellow-700">oogle</span></a>
                    <a href="/auth/github" class="px-3 py-2 bg-gray-600 hover:bg-green-900 text-white font-bold">Github Login <i class="fab fa-github text-black"></i></a>
                </div>


                <form action="/users/login" method="POST" class="border-2 p-5 flex flex-col">
                    <% if(error) { %>
                        <p class="text-red-500 "><%= error %></p>
                    <% } %>
                    <% if(success) { %>
                        <p class="text-green-500 "><%= success %></p>
                    <% } %>
                    <% if(info) { %>
                        <p class="text-green-500 "><%= info %></p>
                    <% } %>
                    <input type="email" name="email" placeholder="Email" class="p-2 border border-grey-500 mb-5">
                    <input type="password" name="password" placeholder="Password" class="p-2 border border-grey-500 mb-5">
                    <button type="submit" class="px-3 py-2 bg-green-600 hover:bg-green-900 text-white font-bold">Login</button>
                </form>
                <a href="/users/login/forgotpassword" class="text-sm text-blue-600">Forgot Password ?</a>
            </section>
        </main>
<% include partials/footer %>
